.button {
  padding: 10px 20px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #34495e;
}

.btn-info {
  background: #1ab394;
}

.btn-success {
  background: #5dba2f;
  color: #fff;
  border: none;
}

.btn-action {
  width: auto;
  margin-left: 30px;
  padding: 5px 10px;
}
