.alert-message-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0;
  .alert-message-checkbox {
    padding: 10px;
    font-size: 16px;
  }

  .alert-message-checkbox-label {
    margin-left: 20px;
  }
}

.other-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .other-label {
    margin: 10px 0;
  }
}
